

body {
    background: #222831;
    font-family: 'Roboto', sans-serif;
}
html {
    display: flex;
    justify-content: center;
    align-items:space-between;

}
ul {
    list-style-type: none;
}

.titulo {
    display: flex;
    justify-content:center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));

}

.menu * {
    text-decoration: none;
    display: flex;
    justify-content:space-evenly;
    color: whitesmoke;
}

.caixa {
    display:flex;
    justify-content: center;
}

.redor {

    display: flex;
    justify-content:center;
    background: #00ADB5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 400px;
    margin: 0;

}

.botao_menu {
    display: flex;
    justify-content:center;
    background: #00ADB5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 100px;
    margin: 0;
}
.botao_menu:hover {
    background: #a7ce5a;
    transition: 300ms;
}

.conteudo {
    background: #FFFFFFCC;

    display: flex;
    justify-content:space-between;
    align-items: center;
}

.caixa_apresentacao {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    margin: 1vw;
    text-align: center;
}
.titulo2 {
    display: flex;
    justify-content:center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.texto {

    color: #222222;
    text-align: center;
    width: 500px;
    
}
.comecar{
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:rgb(255, 66, 66);
    border-radius:30px;
    width: 200px;
    height: 30px;
    color: white;
    text-decoration: none;
}   
.comecar:hover{
    width:220px;
    height:33px;
    transition:500ms;
}

.telas {
    width: 500px;
}


.filmescaixa ul{
    margin-top: 0;
    color:white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content:space-evenly;
}

.filmescaixa h2{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    color: white;
    display: flex;
    justify-content:center;
}

.filme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filme img:hover {
    width: 121px;
    height: 171px;
}

.filme p{
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filme img{
    display: flex;
    justify-content: center;
    width: 110px;
    height:160px;
}

.txtfilme *{
    color:whitesmoke
}

 .final{
    display: flex;
    
    background-color: rgb(32, 32, 32);
    width: 100%; 
    height: 10vh; 
}

.caixafinal {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
}

.redes img{
    margin-right: 10px;
    width: 3vw;
    height: 4vh;
 } 

 @media screen and (max-width:768px){
    .caixa{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .redor {

        background: #00ADB5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0;
        width: 120vw;
        height: 15vh;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo {
        width: 60vw;
        height: 10vh;
        margin: 0;
    }
    .botao_menu {
        display: flex;
        justify-content:center;
        align-items: center;
        background: #00ADB5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        width: 20vw;
        height: 5vh;
        margin: 0;
    }
    .caixa_apresentacao div{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column ;
    }
    .caixa_apresentacao {
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .conteudo {
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: column;
    }
    .caixa_apresentacao div{
        font-size: x-large;
        width: 70%;
    }
    .comecar {
        font-size: xx-large;
        width: 50vw;
        height: 10vh;
 }
    .telas {
        width: 100%;
    }   
    .filmescaixa ul{
        display: flex;
        justify-content:center;
        flex-direction: column;
        
    }

    .filme {
        border-bottom: 5px solid #222831;
    }

    .filme img{
        width: 50vw;
        height:80vh;
    }
    .filmescaixa * {
        font-size: xx-large;
    }
    .caixafinal {
        display: flex;
        flex-direction: row;
        justify-content: center;
}
    .redes img{

        margin-right: 2vw;
        width: 4vw;
        height: 4vh;
     }
}
@media screen and (max-width:415px) {
    .caixa{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .redor {

        background: #00ADB5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0;
        width: 100%;
        height: 15vh;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo {
        width: 60vw;
        height: 10vh;
        margin: 0;
    }
    .botao_menu {
        display: flex;
        justify-content:center;
        align-items: center;
        background: #00ADB5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        width: 20vw;
        height: 5vh;
        margin: 0;
    }
    .caixa_apresentacao div{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column ;
    }
    .caixa_apresentacao {
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .conteudo {
        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: column;
    }
    .caixa_apresentacao div{
        font-size: x-large;
        width: 70%;
    }
    .comecar {
        font-size: xx-large;
        width: 50vw;
        height: 10vh;
 }
    .telas {
        width: 100%;
    }   
    .filmescaixa ul{
        display: flex;
        justify-content:center;
        flex-direction: column;
        
    }

    .filme {
        border-bottom: 5px solid #222831;
    }

    .filme img{
        width: 50vw;
        height:50vh;
    }

    .filme img:hover {
        width: 1250vw;
        height: 171px;
    }

    .filmescaixa * {
        font-size: xx-large;
    }
    .caixafinal {
        display: flex;
        flex-direction: row;
        justify-content: center;
}
    .redes img{

        margin-right: 2vw;
        width: 4vw;
        height: 4vh;
     }
     
}
